<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>Headmaster2</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <h1>Headmaster Homepage!</h1>
 

  <h2>Create Cohort</h2>
  <form action="/cohorts" method="post">
    <label>Cohort title:</label>
    <input type="text" name="title" />

    <label>Slug:</label>
    <input type="text" name="slug" />
    <button type="submit">Add Cohort</button>
  </form>


  <h2>Search</h2>
    <form method="get" action="/students">
      <label>Student ID:</label>
      <input type="number" name="id" />
      <input type="submit">
    </form>
   
    <form method="get" action="/assignments">
      <label>Assignment Name:</label>
      <input type="text" name="name" />
      <input type="submit">
    </form>

  <div>{{{getStudentHTML}}}</div>
  <div>{{{getAssignmentHTML}}}</div>

  <h2>List of Cohorts</h2>
  <div>{{{cohortsListHTML}}}</div>
  

   
 
    

  <!-- <script>
      function getID() {
          let id = document.getElementById('idVal').value;
          location.href = '/students/' + id;
          return false;
      }    
  </script> -->


</body>

</html>
